*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {

    width: 200px;
    height: 200px;
    border-radius: 20px;
}

header a {
    margin-top: 20px;
    color: white;
    font-family: 'preconnect', sans-serif ;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.volta {
    display: flex;
}

.volta h2 {
   
    margin: 40px;
}

#retornoum {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    
}

#principal {
   margin: 50px;

}

#principal img {
    width: 350px;
    margin-bottom: 20px;
}

#principal p {

    font-family: 'Lora', sans-serif;
    margin-bottom: 5px;
}



#secundaria {
    margin: 50px;
    
}

#secundaria img {
    width: 350px;
    margin-bottom: 20px;
}

#secundaria p {

    font-family: 'Lora', sans-serif;
    margin-bottom: 5px;
}


#terciaria {
    margin: 50px;
    
}

#terciaria img {
    width: 350px;
    margin-bottom: 15px;
}

#terciaria p {

    font-family: 'Lora', sans-serif;
    margin-bottom: 5px;
}

#mainum {
    display: flex;
}

.track {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
}



.strong {
    margin-right: 3px;
}

.musk {
    display: flex;
    margin: 10px;
}

.imgchuteiras {
    width: 350px;
}

.container {
    display: flex;
    

}

.container img {
    margin: 6px;
}

.container2 {
    display: flex;

}

.container2 img {
    margin: 6px;
}

.container2 ul {
    margin-top: 65px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
}

.container2 li {
    margin-bottom: 25px;
}

.maindois {
    margin-top: 30px;
    margin-bottom: 85px;
    margin-left: 50px;
}



#compraum {
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 65px;
}

#compraum h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Lora', sans-serif;
}

#compradois {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 65px;
}

#compradois h3 {
margin-bottom: 10px;
font-size: 25px;
font-family: 'Lora', sans-serif;
}

#compratres {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 65px;
}

#compratres h3 {
margin-bottom: 10px;
font-size: 25px;
font-family: 'Lora', sans-serif;
}
    
.aqui {
    display: inline-block;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 65px;
    margin-left: 120px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

